<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Stock Tracker Final</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <style>
      html,
      body {
        height: 100%;
        margin: 0;
      }
      body {
        background: url("../StockTracker.png") no-repeat center center fixed;
        background-size: contain;
        background-color: white; /* fills remaining space outside the image */
        display: flex;
        flex-direction: column;
      }

      main {
        flex: 1;
        padding: 2rem;
      }

      footer {
        background-color: #212529; /* Bootstrap dark */
        color: white;
        text-align: center;
        padding: 1rem;
      }
    </style>
  </head>
  <body>
    <!-- Put Nav bar here with links and the login button -->
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img
              src="../Navbar.png"
              alt="Stock Tracker"
              width="40"
              class="d-inline-block align-text-top"
            />
            StockTracker
          </a>
          <div class="d-flex ms-auto"></div>

          <input
            type="text"
            id="tickerInput"
            placeholder="Enter stock ticker"
          />
          <button onclick="fetchStock()">Get Price</button>
          <button
            type="button"
            id="LoginButton"
            class="btn btn-primary me-2"
            data-bs-toggle="collapse"
            data-bs-target="#LoginForm"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Open login modal"
            onclick="hideSignup()"
          >
            Login
          </button>
          <button
            type="button"
            id="SignupButton"
            class="btn btn-primary"
            data-bs-toggle="collapse"
            data-bs-target="#SignupForm"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Open signup modal"
            onclick="hideLogin()"
          >
            Signup
          </button>
          <button
            type="button"
            id="logoutButton"
            class="btn btn-primary show d-none"
            data-bs-toggle="collapse"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            onclick="logout()"
          >
            Logout
          </button>
        </div>
      </nav>
    </header>

    <!-- Put the main body of the website here where users are able to add positions and view their positions -->
    <main class="bg-dark bg-opacity-75 text-white p-4 rounded shadow">
      <!-- NOTIFICATIONS -->
      <!-- SUCESS ALERT -->
      <div
        id="successAlert"
        class="alert alert-success alert-dismissible fade show d-none"
        role="alert"
      >
        Success! Your action was completed successfully.
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <!-- ALERT -->
      <div
        id="warningAlert"
        class="alert alert-warning alert-dismissible fade show d-none"
        role="alert"
      >
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="alert"
          aria-label="Close"
        ></button>
      </div>
      <div class="container-xxl">
        <!-- <img src="../StockTracker.png" alt="Stock Tracker Logo" /> -->
        <!-- Here is the login form -->
        <div id="LoginForm" class="mt-3 collapse">
          <div class="card p-3 shadow">
            <form>
              <div class="mb-3">
                <label class="form-label">
                  Email:
                  <input
                    type="text"
                    id="LoginEmail"
                    class="form-control"
                    autocomplete="email"
                  />
                </label>
              </div>
              <div class="mb-3">
                <label class="form-label"
                  >Password:
                  <input
                    type="password"
                    id="LoginPassword"
                    class="form-control"
                  />
                </label>
              </div>
              <button
                type="submit"
                class="btn btn-success"
                id="LoginSubmit"
                onclick="Login()"
              >
                Submit
              </button>
              <button
                type="submit"
                id="cancelLogin"
                class="btn btn-success"
                data-bs-dismiss="LoginForm"
              >
                Close
              </button>
            </form>
          </div>
        </div>

        <!-- Here is the signup form  -->
        <div id="SignupForm" class="mt-3 collapse">
          <div class="card p-3 shadow">
            <form>
              <div class="mb-3">
                <label class="form-label">
                  Add Username:
                  <input type="text" id="SignupUsername" class="form-control" />
                </label>
              </div>
              <div class="mb-3">
                <label class="form-label">
                  Add Email:
                  <input
                    type="text"
                    id="SignupEmail"
                    class="form-control"
                    autocomplete="email"
                  />
                </label>
              </div>

              <div class="mb-3">
                <label class="form-label">
                  Create Password:
                  <input
                    type="password"
                    id="SignupPassword"
                    class="form-control"
                  />
                </label>
              </div>

              <button
                id="SignupSubmit"
                type="submit"
                class="btn btn-success"
                onclick="Signup()"
              >
                Submit
              </button>
              <button
                type="submit"
                id="cancelSignup"
                class="btn btn-success"
                data-bs-dismiss="signupForm"
              >
                Close
              </button>
            </form>
          </div>
        </div>
        <!-- HERE is where add stock will be -->
        <!-- HERE is where the stocks will go  -->
        <div class="container-fluid" id="stockContainer"></div>
      </div>
    </main>

    <footer class="bg-dark text-white text-center p-3">
      © 2025 Stock Tracker — All rights reserved.
    </footer>
    <!-- BootStrap JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <!-- Chart.js core library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Chart.js Financial Plugin -->
    <script src="https://cdn.jsdelivr.net/npm/chartjs-chart-financial@3.3.0/dist/chartjs-chart-financial.min.js"></script>

    <!-- Chart.js date adapter (for timeseries axis) -->
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@3.0.0/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

    <!-- Your custom chart logic -->
    <script src="../chart.js" defer></script>
    <script>
      const url = "http://localhost:4000"; // make sure this matched env
      const POLYGON_API_KEY = "ujZYW74TVWrNPncWiPEsHNnjHFrqELwb";
      const LoginButton = document.getElementById("LoginButton");
      const SignupButton = document.getElementById("SignupButton");
      const LoginSubmit = document.getElementById("LoginSubmit");
      const SignupSubmit = document.getElementById("SignupSubmit");
      const LogoutButton = document.getElementById("logoutButton");

      function fetchAllStocks() {
        fetch(`${url}/stocks/all`, {
          method: "GET",
          credentials: "include", // Include cookies with the request
        })
          .then((response) => response.json())
          .then((data) => {
            console.log("Stock Data:", data);
            displayStocks(data);
          })
          .catch((error) => console.error("Error:", error));
      }
      function fetchStock() {
        const ticker = document.getElementById("tickerInput").value;
        fetch(`${url}/stocks/${ticker}`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ ticker: ticker }),
          credentials: "include",
        })
          .then((response) => {
            if (!response.ok) {
              if (response.status === 401) {
                showWarningAlert("You must be logged in to search for stocks.");
              } else {
                showWarningAlert(
                  "Failed to fetch stock data. Please try again."
                );
              }
              throw new Error(`HTTP error! status: ${response.status}`);
            }
            return response.json();
          })
          .then((data) => {
            console.log("Stock Data:", data);
            displayIndividualStock(data);
          })
          .catch((error) => console.error("Error:", error));
      }
      function displayIndividualStock(stock) {
        stockContainer.innerHTML = "";

        const cardDiv = document.createElement("div");
        cardDiv.classList.add("card");
        cardDiv.id = `card-${stock.ticker}`;

        const cardBody = document.createElement("div");
        cardBody.classList.add("card-body");

        let logoHtml = "";
        if (stock.logo) {
          logoHtml = `<img src="${stock.logo}?apiKey=${POLYGON_API_KEY}" alt="${stock.name} logo" class="img-fluid mb-2" style="max-width: 100px;">`;
        }

        const titleTicker = document.createElement("h5");
        titleTicker.classList.add("card-title");
        titleTicker.textContent = `Ticker : ${stock.ticker}`;

        const titleName = document.createElement("h5");
        titleName.classList.add("card-title");
        titleName.textContent = `Name : ${stock.name}`;

        const titleDescription = document.createElement("h5");
        titleDescription.classList.add("card-title");
        titleDescription.textContent = `Description : ${stock.description}`;

        const titleMarketCap = document.createElement("h5");
        titleMarketCap.classList.add("card-title");
        titleMarketCap.textContent = `Market Cap : ${stock.market_cap}`;

        const chartDiv = document.createElement("div");
        chartDiv.id = `${stock.ticker}-chart-div`;

        const canvas = document.createElement("canvas");
        canvas.id = `${stock.ticker}-chart`;

        chartDiv.appendChild(canvas);

        cardBody.innerHTML += logoHtml;
        cardBody.appendChild(titleTicker);
        cardBody.appendChild(titleName);
        cardBody.appendChild(titleDescription);
        cardBody.appendChild(titleMarketCap);
        cardBody.appendChild(chartDiv);

        const commentList = document.createElement("ul");
        commentList.id = `commentList-${stock.ticker}`;
        commentList.classList.add("list-group", "list-group-flush");

        const showCommentsButton = document.createElement("button");
        showCommentsButton.classList.add(
          "btn",
          "btn-primary",
          "btn-sm",
          "mt-2"
        );
        showCommentsButton.textContent = "Show Comments";
        showCommentsButton.onclick = () => showComments(stock.ticker);

        const commentsDiv = document.createElement("div");
        commentsDiv.classList.add("card-footer", "d-none");
        commentsDiv.id = `${stock.ticker}-comments`;

        const commentInput = document.createElement("input");
        commentInput.type = "text";
        commentInput.id = `commentInput-${stock.ticker}`;
        commentInput.classList.add("form-control");
        commentInput.placeholder = "Add a comment";

        const postCommentButton = document.createElement("button");
        postCommentButton.classList.add("btn", "btn-primary", "btn-sm", "mt-2");
        postCommentButton.textContent = "Post Comment";
        postCommentButton.onclick = () => addComment(stock.ticker);

        commentsDiv.appendChild(commentInput);
        commentsDiv.appendChild(postCommentButton);

        cardDiv.appendChild(cardBody);
        cardDiv.appendChild(commentList);
        cardDiv.appendChild(showCommentsButton);
        cardDiv.appendChild(commentsDiv);

        stockContainer.appendChild(cardDiv);

        // Show chart after DOM element is added
        showChart(stock.ticker, stock.tradingData);
      }

      //  LOGIN REQUEST
      function Login() {
        event.preventDefault();
        const emailInput = document.getElementById("LoginEmail");
        const passwordInput = document.getElementById("LoginPassword");
        const email = emailInput.value;
        const password = passwordInput.value;
        userData = { email, password };
        console.log("front end - body", JSON.stringify(userData));
        fetch(`${url}/users/login`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(userData),
          credentials: "include",
        })
          .then((response) => {
            if (!response.ok) {
              showWarningAlert("Invalid login details");
              throw new Error("Login failed");
            } else {
              fetchAllStocks();
              showSucess();
              hideLogin();
              emailInput.value = "";
              passwordInput.value = "";
            }
            return response.json();
          })
          .then((data) => {
            console.log("User Data:", data);
            deleteCookies();
            setCookie("username", data.username, 15); //  sets cookie to last for 15 mins
            LoginButton.classList.add("d-none");
            SignupButton.classList.add("d-none");
            LogoutButton.classList.remove("d-none");
            console.log("getCookie", getCookie("username"));
          })
          .catch((error) => console.error("Error:", error));
      }
      function logout() {
        fetch(`${url}/users/logout`, {
          method: "POST",
          credentials: "include",
        })
          .then((res) => res.json())
          .then((data) => {
            console.log(data.message); // "Cookies cleared"
          });
        deleteCookies();
        stockContainer.innerHTML = "";
        LogoutButton.classList.add("d-none");
        LoginButton.classList.remove("d-none");
        SignupButton.classList.remove("d-none");
      }
      //  SIGNUP REQUEST
      function Signup() {
        event.preventDefault();
        const emailInput = document.getElementById("SignupEmail");
        const usernameInput = document.getElementById("SignupUsername");
        const passwordInput = document.getElementById("SignupPassword");
        const email = emailInput.value;
        const username = usernameInput.value;
        const password = passwordInput.value;

        userData = { email, username, password };

        console.log(
          "front end userData submitted JSON PARSE- ",
          JSON.stringify(userData)
        );
        fetch(`${url}/users/signup`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify(userData),
        })
          .then((response) => {
            if (response.ok) {
              fetchAllStocks();
              showSucess();
              hideSignup();
              emailInput.value = "";
              username.value = "";
              passwordInput.value = "";
              return response.json();
            }
            showWarningAlert("Invalid Signup details");
            throw new Error("Signup failed");
          })
          .then((data) => {
            console.log("Signup successful:", data);

            //  wherever you want to redirect
          })
          .catch((error) => console.error("Error:", error));
      }
      function displayStocks(data) {
        data.forEach((stock) => {
          const cardDiv = document.createElement("div");
          cardDiv.classList.add("card");
          cardDiv.id = `card-${stock.ticker}`;

          const cardBody = document.createElement("div");
          cardBody.classList.add("card-body");

          let logoHtml = "";
          if (stock.logo) {
            logoHtml = `<img src="${stock.logo}?apiKey=${POLYGON_API_KEY}" alt="${stock.name} logo" class="img-fluid mb-2" style="max-width: 100px;">`;
          }

          const titleTicker = document.createElement("h5");
          titleTicker.classList.add("card-title");
          titleTicker.textContent = `Ticker : ${stock.ticker}`;

          const titleName = document.createElement("h5");
          titleName.classList.add("card-title");
          titleName.textContent = `Name : ${stock.name}`;

          const titleDescription = document.createElement("h5");
          titleDescription.classList.add("card-title");
          titleDescription.textContent = `Description : ${stock.description}`;

          const titleMarketCap = document.createElement("h5");
          titleMarketCap.classList.add("card-title");
          titleMarketCap.textContent = `Market Cap : ${stock.market_cap}`;

          const chartDiv = document.createElement("div");
          chartDiv.id = `${stock.ticker}-chart-div`;

          const canvas = document.createElement("canvas");
          canvas.id = `${stock.ticker}-chart`;

          chartDiv.appendChild(canvas);

          cardBody.innerHTML += logoHtml;
          cardBody.appendChild(titleTicker);
          cardBody.appendChild(titleName);
          cardBody.appendChild(titleDescription);
          cardBody.appendChild(titleMarketCap);
          cardBody.appendChild(chartDiv);

          const commentList = document.createElement("ul");
          commentList.id = `commentList-${stock.ticker}`;
          commentList.classList.add("list-group", "list-group-flush");

          const showCommentsButton = document.createElement("button");
          showCommentsButton.classList.add(
            "btn",
            "btn-primary",
            "btn-sm",
            "mt-2"
          );
          showCommentsButton.textContent = "Show Comments";
          showCommentsButton.onclick = () => showComments(stock.ticker);

          const commentsDiv = document.createElement("div");
          commentsDiv.classList.add("card-footer", "d-none");
          commentsDiv.id = `${stock.ticker}-comments`;

          const commentInput = document.createElement("input");
          commentInput.type = "text";
          commentInput.id = `commentInput-${stock.ticker}`;
          commentInput.classList.add("form-control");
          commentInput.placeholder = "Add a comment";

          const postCommentButton = document.createElement("button");
          postCommentButton.classList.add(
            "btn",
            "btn-primary",
            "btn-sm",
            "mt-2"
          );
          postCommentButton.textContent = "Post Comment";
          postCommentButton.onclick = () => addComment(stock.ticker);

          commentsDiv.appendChild(commentInput);
          commentsDiv.appendChild(postCommentButton);

          cardDiv.appendChild(cardBody);
          cardDiv.appendChild(commentList);
          cardDiv.appendChild(showCommentsButton);
          cardDiv.appendChild(commentsDiv);

          stockContainer.appendChild(cardDiv);

          // Now that the canvas element is definitely in the DOM, call showChart
          showChart(stock.ticker, stock.tradingData);
        });
      }
      function hideLogin() {
        const bsCollapse = new bootstrap.Collapse(LoginForm, {
          toggle: false,
        });
        bsCollapse.hide();
      }
      function hideSignup() {
        const bsCollapse = new bootstrap.Collapse(SignupForm, {
          toggle: false,
        });
        bsCollapse.hide();
      }
      function showSucess() {
        const alert = document.getElementById("successAlert");
        alert.classList.remove("d-none");
        // Auto-hide after 3 seconds (3000 milliseconds)
        setTimeout(() => {
          alert.classList.add("d-none");
        }, 3000);
      }
      function showWarningAlert(message) {
        const alert = document.getElementById("warningAlert");
        alert.textContent = message; // Set the text of the alert to the provided message
        alert.classList.remove("d-none");

        // Auto-hide after 3 seconds (3000 milliseconds)
        setTimeout(() => {
          alert.classList.add("d-none");
        }, 3000);
      }
      function addComment(ticker) {
        const commentElement = document.getElementById(
          `commentInput-${ticker}`
        );
        if (!commentElement) {
          console.error(`Comment input not found for ticker: ${ticker}`);
          return;
        }
        if (!commentElement.value.trim()) {
          alert("Comment cannot be empty.");
          return;
        }
        const body = {
          ticker: ticker,
          username: getCookie("username"),
          comment: commentElement.value,
        };
        fetch(`${url}/comments/create`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          credentials: "include",
          body: JSON.stringify(body),
        })
          .then((response) => {
            if (!response.ok) {
              showFailedAlert();
              throw new Error("Must be logged in");
            } else {
              commentElement.value = "";
              showComments(ticker);
            }
            return response.json();
          })
          .then((data) => {
            console.log("data - ", data);
          })
          .catch((error) => console.error("Error:", error));
      }
      function showComments(ticker) {
        const divName = ticker + "-comments";
        console.log("show Comment called");
        console.log("divName ", divName);
        document.querySelector(`#${divName}`).classList.remove("d-none");
        fetch(`${url}/comments/${ticker}`, {
          credentials: "include",
        })
          .then((response) => response.json())
          .then((data) => {
            if (data.comments && data.comments.length > 0) {
              // Get the comment list element for this stock
              console.log("DATA HERE -", data);
              const commentList = document.getElementById(
                `commentList-${ticker}`
              );

              // Clear any existing comments
              commentList.innerHTML = "";

              // Add each comment as a list item
              data.comments.forEach((comment) => {
                const commentItem = document.createElement("li");
                commentItem.classList.add("list-group-item");
                commentItem.textContent = `${comment.username}: ${comment.comment}`;
                commentList.appendChild(commentItem);
              });

              // Show the comments section
              document
                .getElementById(`${ticker}-comments`)
                .classList.remove("d-none");
            } else {
              console.log("No comments found for this stock");
            }
          })
          .catch((error) => console.error("Error fetching comments:", error));
      }
      function setCookie(name, value, minsToLive) {
        const date = new Date();
        date.setTime(date.getTime() + minsToLive * 60 * 1000);
        let expires = "expires=" + date.toUTCString();
        document.cookie = `${name}=${value}; ${expires}; path=/`;
      }
      function deleteCookies() {
        document.cookie.split(";").forEach((cookie) => {
          const eqPos = cookie.indexOf("=");
          const name = eqPos > -1 ? cookie.substring(0, eqPos) : cookie;
          document.cookie = `${name}=;expires=Thu, 01 Jan 1970 00:00:00 GMT;path=/`;
        });
      }
      function getCookie(name) {
        const cDecoded = decodeURIComponent(document.cookie);
        const cArray = cDecoded.split("; ");
        let result = null;
        cArray.forEach((element) => {
          if (element.indexOf(name) == 0) {
            result = element.substring(name.length + 1);
          }
        });
        return result;
      }
    </script>
  </body>
</html>
